*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.container {
  border: 2px dotted black;
  background-color: #ccc;
}

.logoimg {
  position: relative;
  height: 10%;
  width: 20%;
  border-radius: 10px;
  padding: 5px;
  top: 15px;
}
.jumbotron {
  background-color: white;
  padding: 0;
  position: relative;
  background-color: transparent;
  top: -470px;
  left: 150px;
}
.jumbotron img {
  width: 90%;
  height: 50%;
  border-radius: 50px;
  padding: 10px;
  border: 5px solid black;
}

.taglineTop {
  color: black;
  position: relative;
  top: -800px;
  left: 700px;
  background-color: white;
  width: 200px;
  opacity: 0.7;
  padding: 5px;
  text-align: center;
}
.taglineBottom {
  color: black;
  position: relative;
  top: -800px;
  left: 600px;
  text-align: center;
  background-color: white;
  width: 300px;
  opacity: 0.7;
  padding: 5px;
}

#social {
  position: relative;
  top: 15px;
  bottom: 0px;
  width: 100%;
}

#social li {
  list-style-type: none;
}

#social a i {
  text-decoration: none;
  color: #F98066;
  float: left;
  padding: 5px;
  margin: 5px;
}
.input-group {
  position: relative;
  top: -618px;
  float: right;
  width: 400px;
  padding: 5px;
}
#signUp {
  position: relative;
  top: -582px;
  left: 450px;
  width: 200px;
  padding: 2px;
}
.row {
  float: right;
  margin: 0;
  margin-top: -65%;
  background-color: white;
}

.row h3 {
  margin-top: 5%;
  text-align: center;
  font-family:serif;
}

.row img {
  /*display: inline-block;*/
  float: right;
  border-radius: 15px;
  border: 5px solid black;
}

.row img:hover {
  opacity: 0.7;
}

.col-sm-3 {
  padding: 15px;
  margin-top: 5%;
}

.col-sm-3 p {
  text-align: center;
}

.list-group {
  width: 20%;
  height: 10%;
  margin-top: 10%;
}

.list-group-item {

}
/*pseudo classes*/
